<div class="wrapper">
  <div class="side-bar">
  <%= render "side_bar" %>
   <div class="top-content">
   </div>
  </div>
  <div class="chat">
  <%= render "main_chat" %>
    <div class=content>
    </div>
      <div class=bottum-content>
      </div>
  </div>
</div>
<div>

